---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Width of the content area
$content-width:    800px;

$on-xsmall:              28.125em; /* 450px */
$on-small:               37.5em; /* 600px */
$on-medium:              50em; /* 800px */
$on-xmedium:             62.5em; /* 1000px */
$on-large:               75em; /* 1200px */
$on-xlarge:              93.75em; /* 1500px */

// Use media queries like this:
// @include media-query($on-xsmall) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "base",
        "layout",
        "style01",
        "kudosplease",
        "syntax-highlighting"
;
