---
layout: default
title: Colt Borg
description: Colt Borg is a web developer who lives in Chicago.
twitter-card-img: "/images/twitter-card-home@2x.png"
---

<div class="home">

  <!-- section for introduction -->
  <article class="introduction">
    <div class="introduction-wrap">
      <h1>hey!</h1>
      <p>This is Colt. Colt is a web developer. Colt and the internet have a loving relationship. Colt thinks bow ties are cool. <div class="animated-line">See Colt <span id="js-text-change">develop</span></div></p>
    </div>
  </article>

  <!-- seation for latest projects -->
  <section class="latest-projects wrap clearfix">
    <h1>latest projects</h1>
    <ul class="project-list">
      {% for project in site.categories['project'] | limit: 3 %}
        {% include project.html %}
      {% endfor %}
    </ul>
  </section>

  <!-- seation for latest articles -->
  <section class="latest-articles">
   <div class="wrap clearfix">
     <h1>latest articles</h1>
     <ul class="article-list clearfix">
       {% for post in site.categories['blog'] | limit: 2 %}
         <li class="article">
           {% include post.html %}
         </li>
       {% endfor %}
     </ul>
     <p class="rss-subscribe clearfix">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
   </div>
  </section>

</div>
