<div class="footer">
  <footer class="clearfix wrap" role="complementary" itemscope itemtype="https://schemaorg/WPFooter">

      <div class="social">
        <div class="icon">
          <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i> twitter</a>
        </div>
        <div class="icon">
          <a href="http://codepen.io/{{ site.codepen_username }}"><i class="fa fa-codepen"></i> codepen</a>
        </div>
        <div class="icon">
          <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> github</a>
        </div>
      </div>

      <div class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} Colt Borg All Rights Reserved.</div>

  </footer>
