<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.url == "/" %}
      {{ page.title }}
    {% else %}
      {% if page.title %}
        {{ page.title }} - Colt Borg
      {% else %}
        {{ site.title }}
      {% endif %}
    {% endif %}
  </title>
  {% if page.description %}
    <meta name="description" content="{{ page.description}}" />
  {% else %}
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% endif %}
  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
  {% endif %}

  <!-- Twitter cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@legendofcolt" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:image" content="{{ site.url }}{{ page.twitter-card-img }}" />

  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- <script src="{{ "/js/modernizr.js" | prepend: site.baseurl }}"></script> -->
  <!-- <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script> -->

</head>
