<nav role="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
  <h1 class="hidden">Main navigation</h1>

  <a href="#content" class="offscreen">Skip to Content</a>

  <ul class="navmenu" id="opennav">
    {% for link in site.links %}
      <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</nav>

<header class="clearfix hero" role="banner" itemscope itemtype="https://schema.org/WPHeader">

  <h1 class="hero-title"><a href="{{ site.baseurl }}/">&lt;coltborg&gt;</a></h1>

</header>
