<!-- <script src="{{ "/js/rwd.js" | prepend: site.baseurl }}"></script> -->
<!-- <script src="{{ "/js/kudosplease-min.js" | prepend: site.baseurl }}"></script> -->
<!-- <script src="{{ "/js/rem.min.js" | prepend: site.baseurl }}" type="text/javascript"></script> -->

<!-- Load font-awesome async -->
<script type="text/javascript">
	(function() {
		var css = document.createElement('link');
		css.href = '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
		css.rel = 'stylesheet';
		css.type = 'text/css';
		document.getElementsByTagName('head')[0].appendChild(css);
	})();
</script>

<!-- Load defer.js after page load -->
<script type="text/javascript">
  function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "../js/defer.js";
    document.body.appendChild(element);
  }
  if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
  else
    window.onload = downloadJSAtOnload;
</script>
