/*--------------------------------------------------------------
Base
--------------------------------------------------------------*/

// Set all elements to border-box
// Document level adjustments
html {
  box-sizing: border-box;
  font-size: $base-font-size;
  min-width: 16rem;
  // background-image: url(http://basehold.it/i/30); // Basehold it for vertical rhythm
}

// Best practices, inherit instead of border-box.
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: $base-line-height;
}

// Make images responsive to container
img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  margin-bottom: 1.5rem;
}

// Add transparent bottom border to all links
a {
  border-bottom: 0.15rem solid transparent;
}

// Remove default text decoration of links
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
  border-bottom: 0.15rem solid blue;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0;
  font-weight: inherit;
}

h1 {
  font-size: 3em;

  @include media-query($on-small) {
    h1 {
      font-size: 2em;
    }
  }
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em; /* 18/16 */
}

h6 {
  font-size: 1em; /* 16/16 */
}

p {
  margin: 0 0 1.5em;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none !important;
}

.introduction-wrap {
  max-width: 25rem;
  width: 100%;
  margin: 0 auto;
}

.wrap {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;

  @include media-query($on-large) {
    & {
      padding: 0 2rem;
    }
  }

  @include media-query($on-small) {
    & {
      padding: 0 1.5rem;
    }
  }
}
