/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/

/* OVERRIDE HEADER WRAP PADDING */
header.wrap {
  padding: 0;
}

/* Nav Menu
--------------------------------------------------------------*/
nav {
  text-align: center;
}

.navmenu a {
  text-decoration: none;
}

.navmenu {
  font-size: 1rem; /* 16/16 */
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: nowrap;
}

.navmenu:after {
  content: "";
  clear: both;
  display: block;
}

.navmenu li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 0;
  width: auto;
}

.navmenu li a {
  display: inline-block;
}

/* switch symbol for showing child */
.navmenu li span {
  display: inline-block;
  text-align: right;
  width: 1.4rem; /* 22.4/16 */
}

/* show child */
/*ul.navmenu li:hover ul,*/
.navmenu li .childopen {
  display: block;
}

.navmenu li ul {
  display: none;
}

/* expanded nav child menu */
.navmenu li ul {
  padding: 0;
}

/* expanded nav child menu */
.navmenu li ul {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
}

.navmenu li ul li {
  float: none;
}

.navmenu li ul li a {
  width: 100%;
  line-height: 4.5rem;
  padding: 0 2.1875rem;
}

.navmenu li a {
  width: 100%;
  padding: 1.25rem 2rem 1.5rem;
  border-bottom: 0;
  border-top: 0.25rem solid tomato; /* 5/16 */
}

.navmenu li:first-child {
  margin-left: -6px;
}

.navmenu li {
  margin-right: -6px;
}

.navmenu li ul {
  position: relative;
  left: 0;
}

@include media-query($on-xsmall) {
  .navmenu li {
    width: 25%;
  }

  .navmenu li a {
    padding: 1.25rem 0rem 1.5rem;
  }
}

/* Hero
--------------------------------------------------------------*/
/* All units set as em so we can easily resize all text */

.hero {
  text-align: center;
  background: lightgrey;
}

.hero-title {
  font-size: 4em;

  & a {
    border-bottom: none;
  }

  @include media-query($on-medium) {
    & {
      font-size: 3em;
      margin: 0;
    }
  }
}

/* Main
--------------------------------------------------------------*/

main {
  margin: 1.5rem 1.5rem;

  @include media-query($on-medium) {
    margin: 1.5rem 0.75rem;
  }
}

/* Introduction
--------------------------------------------------------------*/

.introduction {
  margin: 1.5rem 0;
  text-align: center;

  & p {
    text-align: left;
  }
}


/* Latest Projects
--------------------------------------------------------------*/

.latest-projects {
  text-align: center;
  margin: 1.5rem 0 3rem;
}

.project-list {
  margin: 1.5em 0em;
  padding: 0;

  // @include media-query($on-xmedium) {
  //   &:nth-last-child(1) {
  //     margin-left: auto;
  //     margin-right: auto;
  //     float: none;
  //     clear: left;
  //   }
  // }
}

.project {
  list-style: none;
  float: left;
  width: 30%;
  margin-top: 1.5rem;
  margin-right: 5%;

  @include media-query($on-xlarge) {
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  @include media-query($on-xmedium) {
    width: 47%;
    margin-right: 6%;

    &:nth-of-type(3n) {
      margin-right: 6%;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @include media-query($on-medium) {
    & {
      width: 100%;
      margin-right: 0;
      float: none;
    }
  }
}

@include media-query($on-xmedium) {
  .latest-projects .project:nth-of-type(3) {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: left;
  }
}

/* Latest Articles
--------------------------------------------------------------*/

.latest-articles h1 {
  text-align: center;
}

.article-list {
  margin: 1.5em 0em;
  padding: 0;
}

.article {
  list-style: none;
  float: left;
  margin-top: 1.5rem;
  width: 47%;
  margin-right: 6%;

  &:last-of-type {
    margin-right: 0;
  }

  & p {
    text-align: left;
  }

  @include media-query($on-medium) {
    & {
      width: 100%;
      margin-right: 0;
      float: none;
    }
  }

  & h1 {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0;
  }
}

.readMore-container {
  text-align: center;
}

.rss-subscribe {
  margin: 1.5rem 0;
  float: right;
}

/* Footer
--------------------------------------------------------------*/

.footer {
  text-align: center;
  padding: 2rem 0;
  background: lightgrey;
}

.icon {
  font-size: 2.5em;
  display: inline-block;
  margin-right: 1.5rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.copyright {
  margin: 1.5rem 0;
  font-size: 0.8em;

  @include media-query($on-xsmall) {
    & {
      font-size: 0.6em;
    }
  }
}

/* Pages
--------------------------------------------------------------*/

.page {
  max-width: 35rem;
  margin: 0 auto;
}

.cta {
  text-align: center;
  display: block;
}

/* All Articles
--------------------------------------------------------------*/

.all-posts {
  max-width: 35rem;
  margin: 0 auto;
}

.post-list {
  padding: 0;
}

.post {
  list-style: none;

  & h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
}

/* Single Work
--------------------------------------------------------------*/

.single-project {
  max-width: 35rem;
  margin: 0 auto;
}

/* Single Blog
--------------------------------------------------------------*/

.single-post {
  max-width: 35rem;
  margin: 0 auto;
}

.single-post footer {
  margin: 1.5rem 0;
}

.kudos {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.related-posts-list {
  margin: 0;
  padding: 0;
}
