/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/

/* OVERRIDE HEADER WRAP PADDING */
header.wrap {
  padding: 0;
}

/* Nav Menu
--------------------------------------------------------------*/
nav {
  text-align: center;
}

.navmenu a {
  text-decoration: none;
}

.navmenu {
  font-size: 1rem; /* 16/16 */
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: nowrap;
}

.navmenu:after {
  content: "";
  clear: both;
  display: block;
}

.navmenu li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 0;
  width: auto;
}

.navmenu li a {
  display: inline-block;
}

/* switch symbol for showing child */
.navmenu li span {
  display: inline-block;
  text-align: right;
  width: 1.4rem; /* 22.4/16 */
}

/* show child */
/*ul.navmenu li:hover ul,*/
.navmenu li .childopen {
  display: block;
}

.navmenu li ul {
  display: none;
}

/* expanded nav child menu */
.navmenu li ul {
  padding: 0;
}

/* expanded nav child menu */
.navmenu li ul {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
}

.navmenu li ul li {
  float: none;
}

.navmenu li ul li a {
  width: 100%;
  line-height: 4.5rem;
  padding: 0 2.1875rem;
}

.navmenu li a {
  width: 100%;
  line-height: 1.75rem;
  padding: 1.437rem 2.1875rem 1.75rem;
  border-bottom: 0;
  border-top: 0.313rem solid transparent; /* 5/16 */
}

.navmenu li:first-child {
  margin-left: -6px;
}

.navmenu li {
  margin-right: -5px;
}

.navmenu li ul {
  position: relative;
  left: 0;
}

@include media-query($on-mobile) {
  .navmenu li {
    width: 25%;
  }
}

/* Hero
--------------------------------------------------------------*/
/* All units set as em so we can easily resize all text */

.hero {
  text-align: center;
  // background: lightgrey;
}

.hero-title {
  font-size: 4.209em;
  line-height: 7rem;
}

@include media-query($on-mobile) {
  .hero-title {
    font-size: 3.157em;
    margin-top: 0;
  }
}
