// Colors
$backgroundGray:                    #333333;
$backgroundDarkGray:                #262626;
$backgroundDarkestGray:             #1A1A1A;

$whiteDark:                         #7F7F7F;
$white:                             #CBCBCB;
$whiteLight:                        #F1F1F1;

$greenDark:                         #2DAC8F;
$green:                             #53D2B5;
$greenLight:                        #90E2CF;

// Google fonts
$header-font: "Lato", sans-serif;
$body-font: "Merriweather", serif;
