// Colors
$backgroundGray:                    #333333;
$backgroundDarkGray:                #262626;
$backgroundDarkestGray:             #1A1A1A;

$whiteDark:                         #7F7F7F;
$white:                             #CBCBCB;
$whiteLight:                        #F1F1F1;

$greenDark:                         #2DAC8F;
$green:                             #53D2B5;
$greenLight:                        #90E2CF;

// Google fonts
$header-font: "Lato", sans-serif;
$body-font: "Lato", sans-serif;

// Mixins

@mixin ghost-btn() {
  color: $whiteLight;
  border: 0.15rem solid $whiteLight;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;

  &:hover,
  &:focus {
    color: $green;
    border-color: $green;
  }
}

@mixin dark-box() {
  background: $backgroundDarkestGray;
  padding: 1rem;
  border-top: 0.25rem solid $green;
}

// transition: all .2s linear;
@mixin animate-trans($prop, $dur, $time) {
  transition: $prop $dur $time;
  -o-transition: $prop $dur $time;
  -moz-transition: $prop $dur $time;
  -webkit-transition: $prop $dur $time;
}

// General Styles
body {
  background: $backgroundGray;
  font-family: $body-font;
  font-weight: 300;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: 700;

  @include animate-trans(all, 0.4s, cubic-bezier(0.68, -0.55, 0.27, 1.55));
}

p {
  @include animate-trans(all, 0.4s, cubic-bezier(0.68, -0.55, 0.27, 1.55));
}

a {
  color: $green;
  font-weight: 400;

  @include animate-trans(all, 0.4s, cubic-bezier(0, 0, 0.2, 1));

  &:hover,
  &:focus {
    color: $greenDark;
    border-bottom-color: $greenDark;
  }
}

// Nav Menu

.navmenu li a {
  color: $whiteDark;
  font-weight: 400;

  &:hover,
  &.active:hover {
    color: $green;
    background: $backgroundDarkGray;
    border-top-color: $green;
  }

  &.active {
    color: $green;
    background: $backgroundDarkestGray;
    border-top-color: $green;
  }
}

// Header

.hero {
  background: $backgroundDarkestGray;
}

.logo {
  color: $whiteDark;
}

.logo-brackets {
  color: $green;
}

.introduction-wrap p {
  margin-bottom: 0.5rem;
}

.animated-line {
  margin: 0;
  font-size: 1.5em;
}

#js-text-change {
  color: $green;
  @include animate-trans(opacity, 0.2s, cubic-bezier(0.22, 0.61, 0.36, 1));
}

// Latest Projects

.project {
  & .project-caption {
    font-family: $header-font;
  }
}

// Latest Articles

.article {
  @include dark-box();

  & p {
    font-size: 0.9rem;
  }
}

.cta-container {
  padding: 0.25rem 0;
  text-align: center;
}

.cta-container.return {
  text-align: left;
}

.cta {
  display: inline-block;
  @include ghost-btn();
}

// About


// Blog

.post {
  margin-bottom: 1.5rem;
  @include dark-box();

  @include animate-trans(all, 0.4s, cubic-bezier(0.68, -0.55, 0.27, 1.55));
}

.post-header h1 {
  margin-bottom: 0;
}

.post-meta {
  color: $whiteDark;
}

.post-body figure figcaption {
  color: $whiteDark;
}

.kudos {
  color: $white;

  width: 6em;
  height: 6em;
  margin: .5em auto 1.5em auto;
  background: $backgroundDarkGray;
  box-shadow: inset 0 0 0 0.25em $green,inset 0 0 0 2em $backgroundDarkGray,inset 0 0 0 6em $greenLight;
  line-height: 6em;
  text-align: center;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition: box-shadow 0.225s ease-out;
  -moz-transition: box-shadow 0.225s ease-out;
  -o-transition: box-shadow 0.225s ease-out;
  transition: box-shadow 0.225s ease-out;

  &.finish {
    -webkit-transition: box-shadow 0.45s linear,-webkit-transform 0.5625s ease-in-out;
    -moz-transition: box-shadow 0.45s linear,-moz-transform 0.5625s ease-in-out;
    -o-transition: box-shadow 0.45s linear,-o-transform 0.5625s ease-in-out;
    transition: box-shadow 0.45s linear,transform 0.5625s ease-in-out;
    box-shadow: inset 0 0 0 0.25em rgba(204,61,57,0.5),inset 0 0 0 0.5em $backgroundGray,inset 0 0 0 0.75em rgba(204,61,57,0.75),inset 0 0 0 1em $backgroundGray,inset 0 0 0 0 $backgroundGray,inset 0 0 0 6em #cc3d39;
  }

  &.finish:hover {
    -webkit-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }

}

// Footer

.footer {
  background: $backgroundDarkestGray;
}

.social a {
  border-bottom: none;
}
